*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(170deg, #84acce, #827191);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    /* width: 100%; */
    display: flex;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 25px 25px;
    height: 60px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: -80px;
}

.search button img{
    width: 16px;
}

.current button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.current button img{
    width: 16px;
}

.weather{
    display: none;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.row{
    display: flex;
    justify-content: space-between;
}

/* .temp{
    font-weight: 500;
}

.city{
    font-weight: 400;
}

.weatherDesc{
    font-weight: 300;
} */